<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="test">
            <file>test/TeraCsvReaderTest.php</file>
            <file>test/TeraCsvWriterTest.php</file>
            <file>test/CsvWriterControllerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>